html,body{height: 100%;}

img{display: block;width: 100%;}

.luckrulebody{width: 100%; height: 100%;overflow: hidden;position: relative;}

.luckrulebody a.backplay{display: block;width: 11%;position: absolute;right: 5%;top: 1%;}
